@import url('httpss://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0%;
}
<<<<<<< HEAD

body {
  background: linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
  width: 100%;
}

#main-form {
  margin-top: 170px;
  margin-bottom: 100px;
=======
body {
  background: linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
  width:100%;
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
}

.report-form {
  font-family: "Roboto", sans-serif;
  width: 650px;
  margin: 30px auto;
  background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 10px;
}

.form-header {
  background-color: #EFF0F1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-header h1 {
  font-size: 30px;
  text-align: center;
  color: #666;
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
}

.form-body {
  padding: 10px 40px;
  color: #666;
}

<<<<<<< HEAD
.group {
  margin: 50px 0px;
}

#group-age {
  margin-top: 25px;
}

=======
.group{
  margin:40px 0px;
}
#group-name{
  margin-top:10px;
}
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
<<<<<<< HEAD

.total-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

=======
.total-group{
  margin-bottom: 20px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
.form-group {
  margin-bottom: 20px;
}

.form-body .label-title {
<<<<<<< HEAD
  color: #666;
=======
  color: rgb(28, 28, 167);
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
  font-size: 1.2rem;
  font-weight: bold;
}

.form-body .form-input {
<<<<<<< HEAD
  margin-top: 15px;
=======
  margin-top:15px;
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
  font-size: 17px;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333333;
  text-align: left;
<<<<<<< HEAD
  border: 1px solid #a4a4a4;
=======
  border: 1px solid black;
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
  border-radius: 4px;
  background: white;
  outline: none;
}

<<<<<<< HEAD
input[type="radio"] {
  margin: 8px 2px;
=======
input[type="radio"]{
margin:8px 2px;
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
}

input[type="text"] {
  margin: 5px 2px;
}

<<<<<<< HEAD
input[type="checkbox"] {
  margin: 8px 2px;
}

select {
=======
input[type="checkbox"]{
  margin:8px 2px;
}
select{
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
  width: 148px;
  text-align: center;
  padding-top: 3px;
  margin-top: 17px;
  font-size: 1rem;
<<<<<<< HEAD
  border: 1px solid #a3a3a3;
  border-radius: 4px;
}

option {
  font-size: 1.1rem;
  padding: 3px 32px;
  margin-left:10px;
  color:black;
}

::-webkit-input-placeholder,select {
  color: #bebebe;
=======
  border: 1px solid black;
  border-radius: 4px;
}

option{
  font-size: 1.1rem;
  padding:3px 32px;
}
::-webkit-input-placeholder {
  color: #d9d9d9;
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
}


.form-footer {
  clear: both;
}

.report-form .form-footer {
  background-color: #EFF0F1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 40px;
  text-align: right;
  border-top: 1px solid #cccccc;
}

.form-footer span {
  float: left;
  margin-top: 10px;
  color: #999;
  font-style: italic;
  font-weight: thin;
}

.btn {
  display: block;
  padding: 10px 20px;
<<<<<<< HEAD
  background-color: rgba(47, 177, 197, 0.781);
  font-size: 17px;
  font-weight: bold;
  border: none;
=======
  background-color:rgb(28, 28, 167);
  font-size: 17px;
  border: 1px solid rgb(87, 87, 87);
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 6px auto;
}

.btn:hover {
<<<<<<< HEAD
  background-color: rgba(29, 150, 159, 0.781);
  color: white;
}
=======
  background-color: rgb(64, 64, 220);
  color: white;
}
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
