@import url('httpss://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0%;
}
body {
  background: linear-gradient(to right, #78a7ba 0%, #385D6C 50%, #78a7ba 99%);
  width:100%;
}

.report-form {
  font-family: "Roboto", sans-serif;
  width: 650px;
  margin: 30px auto;
  background: linear-gradient(to right, #ffffff 0%, #fafafa 50%, #ffffff 99%);
  border-radius: 10px;
}

.form-header {
  background-color: #EFF0F1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-header h1 {
  font-size: 30px;
  text-align: center;
  color: #666;
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
}

.form-body {
  padding: 10px 40px;
  color: #666;
}

.group{
  margin:40px 0px;
}
#group-name{
  margin-top:10px;
}
.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.total-group{
  margin-bottom: 20px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-group {
  margin-bottom: 20px;
}

.form-body .label-title {
  color: rgb(28, 28, 167);
  font-size: 1.2rem;
  font-weight: bold;
}

.form-body .form-input {
  margin-top:15px;
  font-size: 17px;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  color: #333333;
  text-align: left;
  border: 1px solid black;
  border-radius: 4px;
  background: white;
  outline: none;
}

input[type="radio"]{
margin:8px 2px;
}

input[type="text"] {
  margin: 5px 2px;
}

input[type="checkbox"]{
  margin:8px 2px;
}
select{
  width: 148px;
  text-align: center;
  padding-top: 3px;
  margin-top: 17px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 4px;
}

option{
  font-size: 1.1rem;
  padding:3px 32px;
}
::-webkit-input-placeholder {
  color: #d9d9d9;
}


.form-footer {
  clear: both;
}

.report-form .form-footer {
  background-color: #EFF0F1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 40px;
  text-align: right;
  border-top: 1px solid #cccccc;
}

.form-footer span {
  float: left;
  margin-top: 10px;
  color: #999;
  font-style: italic;
  font-weight: thin;
}

.btn {
  display: block;
  padding: 10px 20px;
  background-color:rgb(28, 28, 167);
  font-size: 17px;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin: 6px auto;
}

.btn:hover {
  background-color: rgb(64, 64, 220);
  color: white;
}
