
/* navbar */

/* navbar */
<<<<<<< HEAD
main {
    display: flex;
    flex-direction: column-reverse;
    margin-top:100px;
}
=======
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
.btn{
    color: black;
    display: inline ;
    border-radius: 10px;
    margin-top:40px;
<<<<<<< HEAD
    width:15rem;
    font-size: 1.6rem;
    padding: 4px 6px;
    font-weight: bolder;
=======
    width:13rem;
    font-size: 1.6rem;
    padding: 4px 6px;
    font-weight: bolder;
    border:none;
    box-shadow: 0px 0px 20px 8px gray;
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
}
#primary {
    width: 70%;
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
<<<<<<< HEAD
    color:black;

}
#box2 {
    width: 100%;
    height: 315px;
    background: url(../bg\ \(2\).png) no-repeat center center;
    background-size: 328px;
    margin-top: 30px;
    margin-bottom: 45px;
}
#box1 {
    height: 400px;
    width: 100%;
    margin-top:-100px;
}

=======
    color: rgb(28, 28, 167);
    text-shadow: 0px 0px 20px 8px rgb(28, 28, 167);
}
#box2{
   display:none;
}
#box1{
    width:100%;

}
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
/* footer */

/*footer */