
/* navbar */

/* navbar */
.btn{
    color: black;
    display: inline ;
    border-radius: 10px;
    margin-top:40px;
    width:13rem;
    font-size: 1.6rem;
    padding: 4px 6px;
    font-weight: bolder;
    border:none;
    box-shadow: 0px 0px 20px 8px gray;
}
#primary {
    width: 70%;
    font-size: 3rem;
    text-align: center;
    font-weight: bolder;
    color: rgb(28, 28, 167);
    text-shadow: 0px 0px 20px 8px rgb(28, 28, 167);
}
#box2{
   display:none;
}
#box1{
    width:100%;

}
/* footer */

/*footer */