#footer h3 {
    padding-left: 0;
    padding-bottom: 0px;
<<<<<<< HEAD
    margin-bottom: 20px;
=======
    margin-bottom: 10px;
>>>>>>> f80bfe273f750436b93cae826c011525c6b65440
    font-size: 1.2rem;
}
.container4{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom:30px;
}