#logo {
    height: 60px;
    width: 60px;
    background-size: 66px 66px;
    margin: 5px 53px;
}
#navbar {
    flex-direction: column;
    padding-bottom: 8px;
    height:102px;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 7px;
}

#navbar ul li {
    margin: 0px 0px;
}